### 데이터 합치기

In [3]:
import pandas as pd
import csv

In [4]:
file_names = ['CARD_SUBWAY_MONTH_2018.csv','CARD_SUBWAY_MONTH_2019.csv']
total = pd.DataFrame()
for file_name in file_names:
    temp = pd.read_csv(file_name,encoding='cp949')
    total = pd.concat([total,temp])

In [5]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 428518 entries, 0 to 215768
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    428518 non-null  int64
 1   노선명     428518 non-null  object
 2   역명      428518 non-null  object
 3   승차총승객수  428518 non-null  float64
 4   하차총승객수  428518 non-null  float64
 5   등록일자    428518 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 22.9+ MB

In [6]:
file_path = 'CARD_SUBWAY_MONTH_2021.csv' # 컬럼이 달라 다른 방식으로 해줘야함 
f = open(file_path,'rt')
reader = csv.reader(f)

csv_list = []
for l in reader:
    csv_list.append(l)
f.close()

df = pd.DataFrame(csv_list)
df = df.rename(columns=df.iloc[0])
df = df.drop(df.index[0])
df = df.drop([None], axis = 1)
total = pd.concat([total,df])

In [12]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 864851 entries, 0 to 219278
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    864851 non-null  object
 1   노선명     864851 non-null  object
 2   역명      864851 non-null  object
 3   승차총승객수  864851 non-null  object
 4   하차총승객수  864851 non-null  object
 5   등록일자    864851 non-null  object
dtypes: object(6)
memory usage: 46.2+ MB

In [7]:
total.역명.unique()

array(['서울역', '신설동', '보문', '성신여대입구(돈암)', '정릉', '북한산보국문', '솔샘', '삼양사거리',
       '삼양', '화계', '가오리', '4.19민주묘지', '솔밭공원', '북한산우이', '종합운동장', '봉은사',
       '삼성중앙', '선정릉', '언주', '영종', '인천공항1터미널', '공항화물청사', '운서', '청라국제도시',
       '검암', '계양', '김포공항', '디지털미디어시티', '홍대입구', '공덕', '신논현', '사평', '고속터미널',
       '신반포', '구반포', '동작(현충원)', '흑석(중앙대입구)', '노들', '노량진', '샛강', '여의도',
       '국회의사당', '당산', '선유도', '신목동', '염창', '등촌', '증미', '가양', '양천향교',
       '마곡나루', '신방화', '공항시장', '개화', '모란', '수진', '신흥', '단대오거리',
       '남한산성입구(성남법원.검찰청)', '산성', '복정', '장지', '문정', '가락시장', '송파', '석촌',
       '잠실(송파구청)', '몽촌토성(평화의문)', '강동구청', '천호(풍납토성)', '암사', '부평구청', '굴포천',
       '삼산체육관', '상동', '부천시청', '신중동', '춘의', '부천종합운동장', '까치울', '온수(성공회대입구)',
       '천왕', '광명사거리', '철산', '가산디지털단지', '남구로', '대림(구로구청)', '신풍', '보라매',
       '신대방삼거리', '장승배기', '상도', '숭실대입구(살피재)', '남성', '이수', '내방', '반포', '논현',
       '학동', '강남구청', '청담', '뚝섬유원지', '건대입구', '어린이대공원(세종대)', '군자(능동)', '중곡',
       '용마산', '사가정', '면목', '상봉(시외버스터미널)', '중화', '먹골', '태릉입구',
       '공릉(서울과학기술대)', '하계', '중계', '노원', '마들', '수락산', '도봉산', '장암',
       '봉화산(서울의료원)', '화랑대(서울여대입구)', '석계', '돌곶이', '상월곡(한국과학기술연구원)',
       '월곡(동덕여대)', '고려대(종암)', '안암(고대병원앞)', '창신', '동묘앞', '신당', '청구', '약수',
       '버티고개', '한강진', '이태원', '녹사평(용산구청)', '삼각지', '효창공원앞', '대흥(서강대앞)',
       '광흥창(서강)', '상수', '합정', '망원', '마포구청', '월드컵경기장(성산)', '증산(명지대앞)',
       '새절(신사)', '구산', '독바위', '불광', '역촌', '응암', '마천', '거여', '개롱', '오금',
       '방이', '올림픽공원(한국체대)', '둔촌동', '상일동', '고덕', '명일', '굽은다리(강동구민회관앞)',
       '길동', '강동', '광나루(장신대)', '아차산(어린이대공원후문)', '장한평', '답십리', '마장',
       '왕십리(성동구청)', '행당', '신금호', '동대문역사문화공원', '을지로4가', '종로3가',
       '광화문(세종문화회관)', '서대문', '충정로(경기대입구)', '애오개', '마포', '여의나루', '신길',
       '영등포시장', '영등포구청', '양평', '오목교(목동운동장앞)', '목동', '신정(은행정)', '까치산',
       '화곡', '우장산', '발산', '마곡', '송정', '개화산', '방화', '여주', '세종대왕릉', '부발',
       '이천', '신둔도예촌', '곤지암', '초월', '경기광주', '삼동', '이매', '판교', '인천', '신포',
       '숭의', '인하대', '송도', '연수', '원인재', '남동인더스파크', '호구포', '인천논현', '소래포구',
       '월곶', '달월', '춘천', '남춘천', '김유정', '강촌', '백양리', '굴봉산', '가평', '상천',
       '청평', '대성리', '마석', '천마산', '평내호평', '금곡', '사릉', '퇴계원', '별내', '갈매',
       '신내', '문산', '파주', '월롱', '금촌', '금릉', '운정', '야당', '탄현', '일산', '풍산',
       '백마', '곡산', '능곡', '행신', '강매', '화전', '수색', '가좌', '서강대', '신촌',
       '신창(순천향대)', '온양온천', '배방', '아산', '쌍용(나사렛대)', '봉명', '지평', '용문', '원덕',
       '오빈', '아신', '국수', '신원', '양수', '운길산', '팔당', '도심', '덕소', '양정', '도농',
       '구리', '양원', '망우', '중랑', '회기', '대화', '주엽', '정발산', '마두', '백석', '대곡',
       '화정', '원당', '삼송', '원흥', '매교', '수원시청', '매탄권선', '망포', '영통', '청명',
       '상갈', '기흥', '신갈', '구성', '죽전', '보정', '오리', '미금', '정자', '수내', '서현',
       '야탑', '태평', '가천대', '압구정로데오', '서울숲', '수원', '수서', '대모산입구', '개포동',
       '구룡', '도곡', '한티', '선릉', '범계', '평촌', '인덕원', '정부과천청사', '과천', '대공원',
       '경마공원', '선바위', '수리산', '오이도', '정왕', '신길온천', '안산', '초지', '고잔', '중앙',
       '한대앞', '상록수', '반월', '대야미', '산본', '소요산', '동두천', '보산', '동두천중앙', '지행',
       '덕정', '덕계', '양주', '녹양', '가능', '의정부', '회룡', '망월사', '도봉', '방학', '녹천',
       '월계', '광운대', '신이문', '외대앞', '청량리(서울시립대입구)', '응봉', '옥수', '한남', '서빙고',
       '이촌(국립중앙박물관)', '도화', '중동', '도원', '간석', '부개', '소사', '구일', '동인천',
       '제물포', '주안', '동암', '백운', '부평', '송내', '부천', '역곡', '오류동', '개봉', '광명',
       '서동탄', '당정', '천안', '두정', '직산', '성환', '평택', '지제', '서정리', '송탄', '진위',
       '오산', '오산대', '세마', '병점', '세류', '독산', '화서', '성균관대', '의왕', '군포',
       '금정', '명학', '안양', '관악', '석수', '금천구청', '구로', '신도림', '영등포', '대방',
       '용산', '남영', '남태령', '사당', '총신대입구(이수)', '신용산', '숙대입구(갈월)',
       '회현(남대문시장)', '명동', '충무로', '동대문', '혜화', '한성대입구(삼선교)', '길음', '미아사거리',
       '미아(서울사이버대학)', '수유(강북구청)', '쌍문', '창동', '상계', '당고개', '경찰병원', '일원',
       '대청', '학여울', '대치', '매봉', '양재(서초구청)', '남부터미널(예술의전당)', '교대(법원.검찰청)',
       '잠원', '신사', '압구정', '금호', '동대입구', '을지로3가', '안국', '경복궁(정부서울청사)',
       '독립문', '무악재', '홍제', '녹번', '연신내', '구파발', '지축', '용두(동대문구청)', '신정네거리',
       '양천구청', '도림천', '신답', '용답', '아현', '이대', '문래', '구로디지털단지', '신대방',
       '신림', '봉천', '서울대입구(관악구청)', '낙성대', '방배', '서초', '강남', '역삼',
       '삼성(무역센터)', '잠실새내', '잠실나루', '강변(동서울터미널)', '구의(광진구청)', '성수', '뚝섬',
       '한양대', '상왕십리', '을지로입구', '시청', '제기동', '종로5가', '종각', '인천공항2터미널',
       '중앙보훈병원', '둔촌오륜', '한성백제', '송파나루', '석촌고분', '삼전', '동대문역사문화공원(DDP)',
       '낙성대(강감찬)', '용마산(용마폭포공원)', '마곡나루(서울식물원)', '임진강', '미사', '하남풍산',
       '사리', '야목', '어천', '오목천', '고색', '하남검단산', '하남시청(덕풍·신장)', '강일',
       '평택지제', '탕정', '남위례'], dtype=object)

In [ ]:
file_names = ['CARD_SUBWAY_MONTH_2022.csv']
for file_name in file_names:
    temp = pd.read_csv(file_name,encoding='cp949')
    total = pd.concat([total,temp])

In [8]:
file_names = ['CARD_SUBWAY_MONTH_202301.csv','CARD_SUBWAY_MONTH_202302.csv',
              'CARD_SUBWAY_MONTH_202303.csv','CARD_SUBWAY_MONTH_202304.csv','CARD_SUBWAY_MONTH_202305.csv',
              'CARD_SUBWAY_MONTH_202306.csv','CARD_SUBWAY_MONTH_202307.csv','CARD_SUBWAY_MONTH_202308.csv',
              'CARD_SUBWAY_MONTH_202309.csv','CARD_SUBWAY_MONTH_202310.csv','CARD_SUBWAY_MONTH_202311.csv',
              'CARD_SUBWAY_MONTH_202312.csv','CARD_SUBWAY_MONTH_202401.csv','CARD_SUBWAY_MONTH_202402.csv','CARD_SUBWAY_MONTH_202403.csv']
total2 = pd.DataFrame()
for file_name in file_names:
    temp = pd.read_csv(file_name)
    total2 = pd.concat([total2,temp])

In [13]:
total2 = total2.reset_index()
total2.columns = ['사용일자','노선명','역명','승차총승객수','하차총승객수','등록일자','index']
total2 = total2.drop(['index'],axis=1)
total2.head()

       사용일자  노선명     역명  승차총승객수  하차총승객수      등록일자
0  20230101  경강선    곤지암    1450    1539  20230104
1  20230101  2호선    신도림   20210   21037  20230104
2  20230101  2호선     문래    5995    6567  20230104
3  20230101  2호선  영등포구청    5629    6117  20230104
4  20230101  2호선     당산    6821    7594  20230104

In [12]:
total2.head()

         사용일자    노선명     역명  승차총승객수    하차총승객수  등록일자
20230101  경강선    곤지암   1450    1539  20230104   NaN
20230101  2호선    신도림  20210   21037  20230104   NaN
20230101  2호선     문래   5995    6567  20230104   NaN
20230101  2호선  영등포구청   5629    6117  20230104   NaN
20230101  2호선     당산   6821    7594  20230104   NaN

In [14]:
total2.역명.unique()

array(['곤지암', '신도림', '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현',
       '충정로(경기대입구)', '용답', '신답', '신설동', '노원', '마들', '수락산', '도봉산', '장암',
       '봉화산(서울의료원)', '화랑대(서울여대입구)', '태릉입구', '석계', '돌곶이', '상월곡(한국과학기술연구원)',
       '월곡(동덕여대)', '고려대(종암)', '안암(고대병원앞)', '보문', '시청', '서울역', '동묘앞',
       '도림천', '양천구청', '신정네거리', '용두(동대문구청)', '지축', '구파발', '연신내', '불광',
       '녹번', '홍제', '무악재', '독립문', '경복궁(정부서울청사)', '안국', '종로3가', '을지로3가',
       '충무로', '동대입구', '약수', '금호', '종각', '종로5가', '동대문', '제기동',
       '청량리(서울시립대입구)', '을지로입구', '을지로4가', '동대문역사문화공원(DDP)', '신당', '상왕십리',
       '왕십리(성동구청)', '한양대', '뚝섬', '성수', '건대입구', '구의(광진구청)', '강변(동서울터미널)',
       '잠실나루', '잠실(송파구청)', '잠실새내', '종합운동장', '삼성(무역센터)', '선릉', '역삼', '강남',
       '교대(법원.검찰청)', '서초', '방배', '사당', '낙성대(강감찬)', '서울대입구(관악구청)', '봉천',
       '신림', '신대방', '구로디지털단지', '대림(구로구청)', '옥수', '압구정', '신사', '잠원',
       '고속터미널', '남부터미널(예술의전당)', '양재(서초구청)', '매봉', '도곡', '대치', '학여울', '대청',
       '일원', '수서', '가락시장', '경찰병원', '오금', '당고개', '상계', '창동', '쌍문',
       '수유(강북구청)', '미아(서울사이버대학)', '미아사거리', '길음', '성신여대입구(돈암)',
       '한성대입구(삼선교)', '혜화', '명동', '회현(남대문시장)', '숙대입구(갈월)', '삼각지', '신용산',
       '이촌(국립중앙박물관)', '동작(현충원)', '총신대입구(이수)', '남태령', '방화', '개화산', '김포공항',
       '송정', '마곡', '발산', '우장산', '화곡', '까치산', '신정(은행정)', '목동',
       '오목교(목동운동장앞)', '양평', '영등포시장', '신길', '여의도', '여의나루', '마포', '공덕',
       '애오개', '서대문', '광화문(세종문화회관)', '청구', '신금호', '행당', '마장', '답십리', '장한평',
       '군자(능동)', '아차산(어린이대공원후문)', '광나루(장신대)', '천호(풍납토성)', '강동', '길동',
       '굽은다리(강동구민회관앞)', '명일', '고덕', '상일동', '둔촌동', '올림픽공원(한국체대)', '방이',
       '개롱', '거여', '마천', '강일', '미사', '하남풍산', '하남시청(덕풍·신장)', '하남검단산', '응암',
       '역촌', '독바위', '구산', '새절(신사)', '증산(명지대앞)', '디지털미디어시티', '월드컵경기장(성산)',
       '마포구청', '망원', '상수', '광흥창(서강)', '대흥(서강대앞)', '효창공원앞', '녹사평(용산구청)',
       '이태원', '한강진', '버티고개', '중계', '하계', '공릉(서울과학기술대)', '먹골', '중화',
       '상봉(시외버스터미널)', '면목', '사가정', '용마산(용마폭포공원)', '중곡', '어린이대공원(세종대)',
       '뚝섬유원지', '청담', '강남구청', '학동', '논현', '반포', '내방', '이수', '남성',
       '숭실대입구(살피재)', '상도', '장승배기', '신대방삼거리', '보라매', '신풍', '남구로',
       '가산디지털단지', '철산', '광명사거리', '천왕', '온수(성공회대입구)', '암사', '강동구청',
       '몽촌토성(평화의문)', '석촌', '송파', '문정', '장지', '복정', '산성',
       '남한산성입구(성남법원.검찰청)', '단대오거리', '신흥', '수진', '모란', '남위례', '개화', '공항시장',
       '신방화', '마곡나루(서울식물원)', '양천향교', '가양', '증미', '등촌', '염창', '신목동', '선유도',
       '국회의사당', '샛강', '노량진', '노들', '흑석(중앙대입구)', '구반포', '신반포', '사평', '신논현',
       '언주', '선정릉', '삼성중앙', '봉은사', '삼전', '석촌고분', '송파나루', '한성백제', '둔촌오륜',
       '중앙보훈병원', '판교', '이매', '삼동', '경기광주', '초월', '신둔도예촌', '이천', '부발',
       '세종대왕릉', '여주', '남영', '용산', '대방', '영등포', '구로', '금천구청', '석수', '관악',
       '안양', '명학', '금정', '군포', '의왕', '성균관대', '화서', '수원', '독산', '세류', '병점',
       '세마', '오산대', '오산', '진위', '송탄', '서정리', '평택지제', '평택', '성환', '직산',
       '두정', '천안', '당정', '서동탄', '광명', '서빙고', '한남', '응봉', '외대앞', '신이문',
       '광운대', '월계', '녹천', '방학', '도봉', '망월사', '회룡', '의정부', '가능', '녹양',
       '양주', '덕계', '덕정', '지행', '동두천중앙', '보산', '동두천', '소요산', '서강대', '가좌',
       '수색', '화전', '강매', '행신', '능곡', '곡산', '백마', '풍산', '일산', '탄현', '야당',
       '운정', '금릉', '금촌', '월롱', '파주', '문산', '임진강', '운천', '개봉', '오류동', '역곡',
       '부천', '송내', '부평', '백운', '동암', '주안', '제물포', '동인천', '인천', '구일', '소사',
       '부개', '간석', '도원', '중동', '도화', '신내', '갈매', '별내', '퇴계원', '사릉', '금곡',
       '평내호평', '천마산', '마석', '대성리', '청평', '상천', '가평', '굴봉산', '백양리', '강촌',
       '김유정', '남춘천', '춘천', '계양', '검암', '청라국제도시', '운서', '공항화물청사',
       '인천공항1터미널', '인천공항2터미널', '영종', '선바위', '경마공원', '대공원', '과천', '정부과천청사',
       '인덕원', '평촌', '범계', '한티', '구룡', '개포동', '대모산입구', '서울숲', '압구정로데오',
       '가천대', '태평', '야탑', '서현', '수내', '정자', '미금', '오리', '보정', '죽전', '구성',
       '신갈', '기흥', '상갈', '청명', '영통', '망포', '매탄권선', '수원시청', '매교', '고색',
       '오목천', '어천', '야목', '사리', '달월', '월곶', '소래포구', '인천논현', '호구포',
       '남동인더스파크', '원인재', '연수', '송도', '인하대', '숭의', '신포', '서울지방병무청',
       '보라매공원', '보라매병원', '당곡', '서원', '서울대벤처타운', '관악산(서울대)', '산본', '대야미',
       '반월', '상록수', '한대앞', '중앙', '고잔', '초지', '안산', '신길온천', '정왕', '오이도',
       '수리산', '북한산우이', '솔밭공원', '4.19민주묘지', '가오리', '화계', '삼양', '삼양사거리',
       '솔샘', '북한산보국문', '정릉', '원흥', '삼송', '원당', '화정', '대곡', '백석', '마두',
       '정발산', '주엽', '대화', '봉명', '쌍용(나사렛대)', '아산', '탕정', '배방', '온양온천',
       '신창(순천향대)', '회기', '중랑', '망우', '양원', '구리', '도농', '양정', '덕소', '도심',
       '팔당', '운길산', '양수', '신원', '국수', '아신', '오빈', '원덕', '용문', '지평', '창신',
       '부천시청', '굴포천', '상동', '신중동', '까치울', '삼산체육관', '춘의', '부천종합운동장', '원종',
       '연천', '전곡', '초성리', '상봉', '한국항공대', '청산', '자양(뚝섬한강공원)', '성남'],
      dtype=object)

In [39]:
total2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276822 entries, 0 to 276821
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    276822 non-null  int64
 1   노선명     276822 non-null  object
 2   역명      276822 non-null  object
 3   승차총승객수  276822 non-null  int64
 4   하차총승객수  276822 non-null  int64
 5   등록일자    276822 non-null  int64
dtypes: int64(4), object(2)
memory usage: 12.7+ MB

In [15]:
total_3 = pd.concat([total,total2])
total_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1141673 entries, 0 to 276821
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   사용일자    1141673 non-null  object
 1   노선명     1141673 non-null  object
 2   역명      1141673 non-null  object
 3   승차총승객수  1141673 non-null  object
 4   하차총승객수  1141673 non-null  object
 5   등록일자    1141673 non-null  object
dtypes: object(6)
memory usage: 61.0+ MB

In [40]:
total_3.역명.unique()

array(['서울역', '신설동', '보문', '성신여대입구(돈암)', '정릉', '북한산보국문', '솔샘', '삼양사거리',
       '삼양', '화계', '가오리', '4.19민주묘지', '솔밭공원', '북한산우이', '종합운동장', '봉은사',
       '삼성중앙', '선정릉', '언주', '영종', '인천공항1터미널', '공항화물청사', '운서', '청라국제도시',
       '검암', '계양', '김포공항', '디지털미디어시티', '홍대입구', '공덕', '신논현', '사평', '고속터미널',
       '신반포', '구반포', '동작(현충원)', '흑석(중앙대입구)', '노들', '노량진', '샛강', '여의도',
       '국회의사당', '당산', '선유도', '신목동', '염창', '등촌', '증미', '가양', '양천향교',
       '마곡나루', '신방화', '공항시장', '개화', '모란', '수진', '신흥', '단대오거리',
       '남한산성입구(성남법원.검찰청)', '산성', '복정', '장지', '문정', '가락시장', '송파', '석촌',
       '잠실(송파구청)', '몽촌토성(평화의문)', '강동구청', '천호(풍납토성)', '암사', '부평구청', '굴포천',
       '삼산체육관', '상동', '부천시청', '신중동', '춘의', '부천종합운동장', '까치울', '온수(성공회대입구)',
       '천왕', '광명사거리', '철산', '가산디지털단지', '남구로', '대림(구로구청)', '신풍', '보라매',
       '신대방삼거리', '장승배기', '상도', '숭실대입구(살피재)', '남성', '이수', '내방', '반포', '논현',
       '학동', '강남구청', '청담', '뚝섬유원지', '건대입구', '어린이대공원(세종대)', '군자(능동)', '중곡',
       '용마산', '사가정', '면목', '상봉(시외버스터미널)', '중화', '먹골', '태릉입구',
       '공릉(서울과학기술대)', '하계', '중계', '노원', '마들', '수락산', '도봉산', '장암',
       '봉화산(서울의료원)', '화랑대(서울여대입구)', '석계', '돌곶이', '상월곡(한국과학기술연구원)',
       '월곡(동덕여대)', '고려대(종암)', '안암(고대병원앞)', '창신', '동묘앞', '신당', '청구', '약수',
       '버티고개', '한강진', '이태원', '녹사평(용산구청)', '삼각지', '효창공원앞', '대흥(서강대앞)',
       '광흥창(서강)', '상수', '합정', '망원', '마포구청', '월드컵경기장(성산)', '증산(명지대앞)',
       '새절(신사)', '구산', '독바위', '불광', '역촌', '응암', '마천', '거여', '개롱', '오금',
       '방이', '올림픽공원(한국체대)', '둔촌동', '상일동', '고덕', '명일', '굽은다리(강동구민회관앞)',
       '길동', '강동', '광나루(장신대)', '아차산(어린이대공원후문)', '장한평', '답십리', '마장',
       '왕십리(성동구청)', '행당', '신금호', '동대문역사문화공원', '을지로4가', '종로3가',
       '광화문(세종문화회관)', '서대문', '충정로(경기대입구)', '애오개', '마포', '여의나루', '신길',
       '영등포시장', '영등포구청', '양평', '오목교(목동운동장앞)', '목동', '신정(은행정)', '까치산',
       '화곡', '우장산', '발산', '마곡', '송정', '개화산', '방화', '여주', '세종대왕릉', '부발',
       '이천', '신둔도예촌', '곤지암', '초월', '경기광주', '삼동', '이매', '판교', '인천', '신포',
       '숭의', '인하대', '송도', '연수', '원인재', '남동인더스파크', '호구포', '인천논현', '소래포구',
       '월곶', '달월', '춘천', '남춘천', '김유정', '강촌', '백양리', '굴봉산', '가평', '상천',
       '청평', '대성리', '마석', '천마산', '평내호평', '금곡', '사릉', '퇴계원', '별내', '갈매',
       '신내', '문산', '파주', '월롱', '금촌', '금릉', '운정', '야당', '탄현', '일산', '풍산',
       '백마', '곡산', '능곡', '행신', '강매', '화전', '수색', '가좌', '서강대', '신촌',
       '신창(순천향대)', '온양온천', '배방', '아산', '쌍용(나사렛대)', '봉명', '지평', '용문', '원덕',
       '오빈', '아신', '국수', '신원', '양수', '운길산', '팔당', '도심', '덕소', '양정', '도농',
       '구리', '양원', '망우', '중랑', '회기', '대화', '주엽', '정발산', '마두', '백석', '대곡',
       '화정', '원당', '삼송', '원흥', '매교', '수원시청', '매탄권선', '망포', '영통', '청명',
       '상갈', '기흥', '신갈', '구성', '죽전', '보정', '오리', '미금', '정자', '수내', '서현',
       '야탑', '태평', '가천대', '압구정로데오', '서울숲', '수원', '수서', '대모산입구', '개포동',
       '구룡', '도곡', '한티', '선릉', '범계', '평촌', '인덕원', '정부과천청사', '과천', '대공원',
       '경마공원', '선바위', '수리산', '오이도', '정왕', '신길온천', '안산', '초지', '고잔', '중앙',
       '한대앞', '상록수', '반월', '대야미', '산본', '소요산', '동두천', '보산', '동두천중앙', '지행',
       '덕정', '덕계', '양주', '녹양', '가능', '의정부', '회룡', '망월사', '도봉', '방학', '녹천',
       '월계', '광운대', '신이문', '외대앞', '청량리(서울시립대입구)', '응봉', '옥수', '한남', '서빙고',
       '이촌(국립중앙박물관)', '도화', '중동', '도원', '간석', '부개', '소사', '구일', '동인천',
       '제물포', '주안', '동암', '백운', '부평', '송내', '부천', '역곡', '오류동', '개봉', '광명',
       '서동탄', '당정', '천안', '두정', '직산', '성환', '평택', '지제', '서정리', '송탄', '진위',
       '오산', '오산대', '세마', '병점', '세류', '독산', '화서', '성균관대', '의왕', '군포',
       '금정', '명학', '안양', '관악', '석수', '금천구청', '구로', '신도림', '영등포', '대방',
       '용산', '남영', '남태령', '사당', '총신대입구(이수)', '신용산', '숙대입구(갈월)',
       '회현(남대문시장)', '명동', '충무로', '동대문', '혜화', '한성대입구(삼선교)', '길음', '미아사거리',
       '미아(서울사이버대학)', '수유(강북구청)', '쌍문', '창동', '상계', '당고개', '경찰병원', '일원',
       '대청', '학여울', '대치', '매봉', '양재(서초구청)', '남부터미널(예술의전당)', '교대(법원.검찰청)',
       '잠원', '신사', '압구정', '금호', '동대입구', '을지로3가', '안국', '경복궁(정부서울청사)',
       '독립문', '무악재', '홍제', '녹번', '연신내', '구파발', '지축', '용두(동대문구청)', '신정네거리',
       '양천구청', '도림천', '신답', '용답', '아현', '이대', '문래', '구로디지털단지', '신대방',
       '신림', '봉천', '서울대입구(관악구청)', '낙성대', '방배', '서초', '강남', '역삼',
       '삼성(무역센터)', '잠실새내', '잠실나루', '강변(동서울터미널)', '구의(광진구청)', '성수', '뚝섬',
       '한양대', '상왕십리', '을지로입구', '시청', '제기동', '종로5가', '종각', '인천공항2터미널',
       '중앙보훈병원', '둔촌오륜', '한성백제', '송파나루', '석촌고분', '삼전', '동대문역사문화공원(DDP)',
       '낙성대(강감찬)', '용마산(용마폭포공원)', '마곡나루(서울식물원)', '임진강', '미사', '하남풍산',
       '사리', '야목', '어천', '오목천', '고색', '하남검단산', '하남시청(덕풍·신장)', '강일',
       '평택지제', '탕정', '남위례', '운천', '서울지방병무청', '보라매공원', '보라매병원', '당곡', '서원',
       '서울대벤처타운', '관악산(서울대)', '원종', '연천', '전곡', '초성리', '상봉', '한국항공대',
       '청산', '자양(뚝섬한강공원)', '성남'], dtype=object)

In [5]:
import re

In [13]:
total_3['역명']= total_3['역명'].apply(lambda x : re.sub(r'\([^)]*\)',"",x))
total_3.loc[total_3['역명']=='서울역역','역명'] = '서울역'
total_3.head()

       사용일자  노선명   역명  승차총승객수  하차총승객수
0  20220101  3호선   수서    7370    7076
1  20220101  3호선  학여울     461     473
2  20220101  3호선   대청    3224    2903
3  20220101  3호선   일원    3321    2803
4  20220101  경원선   창동       1       0

In [6]:
# 역명 컬럼의 괄호 내용 모두 제거
total_3['역명'] = total_3['역명'].apply(lambda x : re.sub(r'\([^)]*\)',"",x))

NameError: name 'total_3' is not defined

In [18]:
total_3['역명'] = total_3['역명']+"역"

In [19]:
total_3['역명2'] = total_3['노선명']+" "+total_3['역명']
total_3.head()

       사용일자    노선명       역명   승차총승객수   하차총승객수      등록일자            역명2
0  20180101    1호선     서울역역  40213.0  34505.0  20180104       1호선 서울역역
1  20180101  우이신설선     신설동역    699.0    809.0  20180104     우이신설선 신설동역
2  20180101  우이신설선      보문역    754.0    803.0  20180104      우이신설선 보문역
3  20180101  우이신설선  성신여대입구역   2228.0   2276.0  20180104  우이신설선 성신여대입구역
4  20180101  우이신설선      정릉역   1844.0   1685.0  20180104      우이신설선 정릉역

In [32]:
total_3 = total_3.drop(['등록일자'],axis=1)

In [33]:
total_3.head()

       사용일자    노선명       역명   승차총승객수   하차총승객수            역명2
0  20180101    1호선      서울역  40213.0  34505.0        1호선 서울역
1  20180101  우이신설선     신설동역    699.0    809.0     우이신설선 신설동역
2  20180101  우이신설선      보문역    754.0    803.0      우이신설선 보문역
3  20180101  우이신설선  성신여대입구역   2228.0   2276.0  우이신설선 성신여대입구역
4  20180101  우이신설선      정릉역   1844.0   1685.0      우이신설선 정릉역

### 수도권 제외 지역 노선 제거

In [53]:
total4.노선명.unique()

array(['1호선', '우이신설선', '9호선2단계', '공항철도 1호선', '9호선', '8호선', '7호선', '6호선',
       '5호선', '수인선', '경춘선', '경의선', '장항선', '중앙선', '일산선', '분당선', '과천선',
       '안산선', '경원선', '경인선', '경부선', '4호선', '3호선', '2호선', '9호선2~3단계', '신림선',
       '서해선'], dtype=object)

In [19]:
total4['역명']= total4['역명']+'역'
total4.head()

       사용일자  노선명    역명  승차총승객수  하차총승객수      역명2    년도   월 분기
0  20220101  3호선   수서역    7370    7076   3호선 수서  2022  01  1
1  20220101  3호선  학여울역     461     473  3호선 학여울  2022  01  1
2  20220101  3호선   대청역    3224    2903   3호선 대청  2022  01  1
3  20220101  3호선   일원역    3321    2803   3호선 일원  2022  01  1
4  20220101  중앙선   창동역       1       0   중앙선 창동  2022  01  1

In [20]:
total4 = total4[total4.노선명 != '경강선']
total4 = total4[total4.노선명 != '일산선']
total4 = total4[total4['노선명'] !='장항선']
total4 = total4[total4['노선명'] !='안산선']
total4 = total4[total4['노선명'] !='수인선']
total4 = total4[total4['노선명']!= '경춘선']
total4 = total4[total4['노선명']!='경의선']
total4 = total4[total4['노선명']!='경인선']
total4 = total4[total4['노선명']!='서해선']


total4 = total4[total4.역명 != '영종역']
total4 = total4[total4.역명 != '인천공항1터미널역']
total4 = total4[total4.역명 != '공항화물청사역']
total4 = total4[total4.역명 != '운서역']
total4 = total4[total4.역명 != '청라국제도시역']
total4 = total4[total4.역명 != '검암역']
total4 = total4[total4.역명 != '계양역']
total4 = total4[total4.역명 != '한국항공대역']
total4 = total4[total4.역명 != '강매역']
total4 = total4[total4.역명 != '탄현역']
total4 = total4[total4.역명 != '행신역']
total4 = total4[total4.역명 != '운천역']
total4 = total4[total4.역명 != '임진강역']
total4 = total4[total4.역명 != '화전역']
total4 = total4[total4.역명 != '능곡역']
total4 = total4[total4.역명 != '곡산역']
total4 = total4[total4.역명 != '백마역']
total4 = total4[total4.역명 != '풍산역']
total4 = total4[total4.역명 != '일산역']
total4 = total4[total4.역명 != '야당역']
total4 = total4[total4.역명 != '운정역']
total4 = total4[total4.역명 != '금릉역']
total4 = total4[total4.역명 != '금촌역']
total4 = total4[total4.역명 != '월룽역']
total4 = total4[total4.역명 != '파주역']
total4 = total4[total4.역명 != '문산역']
total4 = total4[total4.역명 != '매교역']
total4 = total4[total4.역명 != '수원시청역']
total4 = total4[total4.역명 != '수원역']
total4 = total4[total4.역명 != '매타권선역']
total4 = total4[total4.역명 != '망포역']
total4 = total4[total4.역명 != '영통역']
total4 = total4[total4.역명 != '청명역']
total4 = total4[total4.역명 != '상갈역']
total4 = total4[total4.역명 != '기흥역']
total4 = total4[total4.역명 != '신갈역']
total4 = total4[total4.역명 != '구성역']
total4 = total4[total4.역명 != '죽전역']
total4 = total4[total4.역명 != '보정역']
total4 = total4[total4.역명 != '이매역']
total4 = total4[total4.역명 != '오리역']
total4 = total4[total4.역명 != '미금역']
total4 = total4[total4.역명 != '정자역']
total4 = total4[total4.역명 != '수내역']
total4 = total4[total4.역명 != '서현역']
total4 = total4[total4.역명 != '야탑역']
total4 = total4[total4.역명 != '모란역']
total4 = total4[total4.역명 != '태평역']
total4 = total4[total4.역명 != '가천대역']
total4 = total4[total4.역명 != '지평역']
total4 = total4[total4.역명 != '용문역']
total4 = total4[total4.역명 != '원덕역']
total4 = total4[total4.역명 != '양평역']
total4 = total4[total4.역명 != '오빈역']
total4 = total4[total4.역명 != '아신역']
total4 = total4[total4.역명 != '국수역']
total4 = total4[total4.역명 != '신원역']
total4 = total4[total4.역명 != '양수역']
total4 = total4[total4.역명 != '운길산역']
total4 = total4[total4.역명 != '팔당역']
total4 = total4[total4.역명 != '도심역']
total4 = total4[total4.역명 != '덕소역']
total4 = total4[total4.역명 != '양정역']
total4 = total4[total4.역명 != '도농역']
total4 = total4[total4.역명 != '구리역']
total4 = total4[total4.역명 != '양원역']
total4 = total4[total4.역명 != '소요산역']
total4 = total4[total4.역명 != '동두천역']
total4 = total4[total4.역명 != '보산역']
total4 = total4[total4.역명 != '동두천중앙역']
total4 = total4[total4.역명 != '지행역']
total4 = total4[total4.역명 != '덕정역']
total4 = total4[total4.역명 != '덕계역']
total4 = total4[total4.역명 != '양주역']
total4 = total4[total4.역명 != '녹양역']
total4 = total4[total4.역명 != '가능역']
total4 = total4[total4.역명 != '의정부역']
total4 = total4[total4.역명 != '회룡역']
total4 = total4[total4.역명 != '망월사역']
total4 = total4[total4.역명 != '광명역']
total4 = total4[total4.역명 != '서동탄역']
total4 = total4[total4.역명 != '당정역']
total4 = total4[total4.역명 != '천안역']
total4 = total4[total4.역명 != '두정역']
total4 = total4[total4.역명 != '직산역']
total4 = total4[total4.역명 != '성환역']
total4 = total4[total4.역명 != '평택역']
total4 = total4[total4.역명 != '지제역']
total4 = total4[total4.역명 != '서정리역']
total4 = total4[total4.역명 != '송탄역']
total4 = total4[total4.역명 != '진위역']
total4 = total4[total4.역명 != '오산역']
total4 = total4[total4.역명 != '오산대역']
total4 = total4[total4.역명 != '세마역']
total4 = total4[total4.역명 != '병점역']
total4 = total4[total4.역명 != '세류역']
total4 = total4[total4.역명 != '독산역']
total4 = total4[total4.역명 != '화서역']
total4 = total4[total4.역명 != '성균관대역']
total4 = total4[total4.역명 != '의왕역']
total4 = total4[total4.역명 != '군포역']
total4 = total4[total4.역명 != '금정역']
total4 = total4[total4.역명 != '명학역']
total4 = total4[total4.역명 != '안양역']
total4 = total4[total4.역명 != '관악역']
total4 = total4[total4.역명 != '청산역']
total4 = total4[total4.역명 != '초성리역']
total4 = total4[total4.역명 != '전곡역']
total4 = total4[total4.역명 != '연천역']
total4 = total4[total4.역명 != '평택지제역']
total4 = total4[total4.역명 != '석수역']
total4 = total4[total4.역명 != '부평구청역']
total4 = total4[total4.역명 != '굴포천역']
total4 = total4[total4.역명 != '삼산체육관역']
total4 = total4[total4.역명 != '상동역']
total4 = total4[total4.역명 != '부천시청역']
total4 = total4[total4.역명 != '신중동역']
total4 = total4[total4.역명 != '춘의역']
total4 = total4[total4.역명 != '부천종합운동장역']
total4 = total4[total4.역명 != '까치울역']
total4 = total4[total4.역명 != '장암역']
total4 = total4[total4.역명 != '광명사거리역']
total4 = total4[total4.역명 != '철산역']

total4.loc[total4['노선명']=='9호선2~3단계','노선명']='9호선'
total4.loc[total4['노선명']=='9호선2단계','노선명']='9호선'
total4.loc[total4['노선명']=='경원선','노선명'] = '중앙선'
total4.loc[total4['노선명']=='경부선','노선명']='1호선'

In [21]:
# 지역구와 합치기 위해서 역명2 컬럼 생성
total4['역명2'] = total4['노선명']+" "+total4['역명']
total4.loc[total4['역명2']=='1호선 서울역역','역명2'] = '1호선 서울역'

# 년도, 월, 분기 컬럼 생성
total4['사용일자'] = total4['사용일자'].astype(str)
total4['년도'] = total4['사용일자'].apply(lambda x : x[:4])
total4['월'] = total4['사용일자'].apply(lambda x : x[4:6])
total4['분기'] = total4['월'].apply(lambda x : '1' if ((x=='01')|(x=='02')|(x=='03')) else '2' if ((x=='04')|(x=='05')|(x=='06')) else '3' if ((x=='07')|(x=='08')|(x=='09')) else '4')

In [22]:
total4

            사용일자  노선명        역명  승차총승객수  하차총승객수           역명2    년도   월 분기
0       20220101  3호선       수서역    7370    7076       3호선 수서역  2022  01  1
1       20220101  3호선      학여울역     461     473      3호선 학여울역  2022  01  1
2       20220101  3호선       대청역    3224    2903       3호선 대청역  2022  01  1
3       20220101  3호선       일원역    3321    2803       3호선 일원역  2022  01  1
4       20220101  중앙선       창동역       1       0       중앙선 창동역  2022  01  1
...          ...  ...       ...     ...     ...           ...   ...  .. ..
219739  20221231  4호선      삼각지역    3911    4864      4호선 삼각지역  2022  12  4
219740  20221231  4호선      신용산역   11025   12099      4호선 신용산역  2022  12  4
219742  20221231  1호선     금천구청역    7519    7426     1호선 금천구청역  2022  12  4
219743  20221231  1호선  가산디지털단지역    5579    7299  1호선 가산디지털단지역  2022  12  4
219744  20221231  1호선       구로역   11318   12080       1호선 구로역  2022  12  4

[140428 rows x 9 columns]

In [23]:
juso = pd.read_csv('지하철역 구.csv')
juso

              역명2     구
0    1호선 가산디지털단지역   금천구
1         1호선 구로역   구로구
2       1호선 금천구청역   금천구
3         1호선 남영역   용산구
4        1호선 노량진역   동작구
..            ...   ...
341       중앙선 이촌역   용산구
342       중앙선 중랑역   중랑구
343      중앙선 청량리역  동대문구
344       중앙선 한남역   용산구
345       중앙선 회기역  동대문구

[346 rows x 2 columns]

In [25]:
df = pd.merge(total4,juso,on='역명2',how='left')
df

,사용일자,노선명,역명,승차총승객수,하차총승객수,역명2,년도,월,분기,구
0,20220101,3호선,수서역,7370,7076,3호선 수서역,2022,01,1,강남구
1,20220101,3호선,학여울역,461,473,3호선 학여울역,2022,01,1,강남구
2,20220101,3호선,대청역,3224,2903,3호선 대청역,2022,01,1,강남구
3,20220101,3호선,일원역,3321,2803,3호선 일원역,2022,01,1,강남구
4,20220101,중앙선,창동역,1,0,중앙선 창동역,2022,01,1,NaN
...,...,...,...,...,...,...,...,...,...,...
141153,20221231,4호선,삼각지역,3911,4864,4호선 삼각지역,2022,12,4,용산구
141154,20221231,4호선,신용산역,11025,12099,4호선 신용산역,2022,12,4,용산구
141155,20221231,1호선,금천구청역,7519,7426,1호선 금천구청역,2022,12,4,금천구
141156,20221231,1호선,가산디지털단지역,5579,7299,1호선 가산디지털단지역,2022,12,4,금천구
141157,20221231,1호선,구로역,11318,12080,1호선 구로역,2022,12,4,구로구

In [26]:
df.to_csv('df.csv',index=False)